In [2]:
import calendar
import time
import datetime
import pandas as pd

In [62]:
class Schedule:
    def __init__(self, year, month):
        self.year = year
        self.month = month
    def term(self, lenghth):
        cale = calendar.Calendar()
        self.term_length = lenghth
        month_span = self.term_length // 28 +1
        schedule = cale.monthdatescalendar(year=self.year, month=self.month)
        schedule = pd.DataFrame(schedule,columns = calendar.weekheader(6).strip().split('    ')).iloc[:4]
#         schedule = pd.DataFrame(columns = calendar.weekheader(6).strip().split('    '))
        for i in range(1,month_span):
            schedule_i = cale.monthdatescalendar(year=self.year, month=self.month + i)
            schedule_i = pd.DataFrame(schedule_i,columns = calendar.weekheader(6).strip().split('    '))
            schedule = schedule.append(schedule_i)
            schedule.reset_index(drop=True, inplace=True)
        return schedule

In [63]:
Schedule(2019, 1).term(124)

,Mon,Tue,Wed,Thu,Fri,Sat,Sun
0,2018-12-31,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06
1,2019-01-07,2019-01-08,2019-01-09,2019-01-10,2019-01-11,2019-01-12,2019-01-13
2,2019-01-14,2019-01-15,2019-01-16,2019-01-17,2019-01-18,2019-01-19,2019-01-20
3,2019-01-21,2019-01-22,2019-01-23,2019-01-24,2019-01-25,2019-01-26,2019-01-27
4,2019-01-28,2019-01-29,2019-01-30,2019-01-31,2019-02-01,2019-02-02,2019-02-03
5,2019-02-04,2019-02-05,2019-02-06,2019-02-07,2019-02-08,2019-02-09,2019-02-10
6,2019-02-11,2019-02-12,2019-02-13,2019-02-14,2019-02-15,2019-02-16,2019-02-17
7,2019-02-18,2019-02-19,2019-02-20,2019-02-21,2019-02-22,2019-02-23,2019-02-24
8,2019-02-25,2019-02-26,2019-02-27,2019-02-28,2019-03-01,2019-03-02,2019-03-03
9,2019-02-25,2019-02-26,2019-02-27,2019-02-28,2019-03-01,2019-03-02,2019-03-03
10,2019-03-04,2019-03-05,2019-03-06,2019-03-07,2019-03-08,2019-03-09,2019-03-10
11,2019-03-11,2019-03-12,2019-03-13,2019-03-14,2019-03-15,2019-03-16,2019-03-17
12,2019-03-18,2019-03-19,2019-03-20,2019-03-21,2019-03-22,2019-03-23,2019-03-24
13,2019-03-25,2019-03-26,2019-03-27,2019-03-28,2019-03-29,2019-03-30,2019-03-31
14,2019-04-01,2019-04-02,2019-04-03,2019-04-04,2019-04-05,2019-04-06,2019-04-07
15,2019-04-08,2019-04-09,2019-04-10,2019-04-11,2019-04-12,2019-04-13,2019-04-14
16,2019-04-15,2019-04-16,2019-04-17,2019-04-18,2019-04-19,2019-04-20,2019-04-21
17,2019-04-22,2019-04-23,2019-04-24,2019-04-25,2019-04-26,2019-04-27,2019-04-28
18,2019-04-29,2019-04-30,2019-05-01,2019-05-02,2019-05-03,2019-05-04,2019-05-05
19,2019-04-29,2019-04-30,2019-05-01,2019-05-02,2019-05-03,2019-05-04,2019-05-05
20,2019-05-06,2019-05-07,2019-05-08,2019-05-09,2019-05-10,2019-05-11,2019-05-12
21,2019-05-13,2019-05-14,2019-05-15,2019-05-16,2019-05-17,2019-05-18,2019-05-19
22,2019-05-20,2019-05-21,2019-05-22,2019-05-23,2019-05-24,2019-05-25,2019-05-26
23,2019-05-27,2019-05-28,2019-05-29,2019-05-30,2019-05-31,2019-06-01,2019-06-02

In [61]:
18*7

126

In [4]:
class Lecturer:
    def __init__(self, name, available):
        self.name = str(name),
        self.available = available
    def end(self, duration):
        '''calculate where his class will ends'''
        ends = []
        for i in self.available:
            ends.append(i+ datetime.timedelta(minutes = duration))
        return ends
    def assign(self, schedual):
        '''assign his available time to te schedual'''
        for i in self.available:
            date = i.year
            loc = schedual.loc('')

In [5]:
Lihai = Lecturer(name='李海', available=[datetime.datetime(2019, 2, 3, 19, 0), datetime.datetime(2019, 2, 5, 10, 0)])
datetime.datetime(2019, 1, 23, 19, 0, 0)

datetime.datetime(2019, 1, 23, 19, 0)

In [6]:
schedual['Mon'][1] == datetime.datetime(2019, 2, 4)

False