In [80]:
import calendar
import time
import datetime
import pandas as pd

In [79]:
cale = calendar.Calendar()
pd.DataFrame(cale.monthdatescalendar(year=2019, month=2),columns = calendar.weekheader(6).strip().split('    '))

,Mon,Tue,Wed,Thu,Fri,Sat,Sun
0,2019-01-28,2019-01-29,2019-01-30,2019-01-31,2019-02-01,2019-02-02,2019-02-03
1,2019-02-04,2019-02-05,2019-02-06,2019-02-07,2019-02-08,2019-02-09,2019-02-10
2,2019-02-11,2019-02-12,2019-02-13,2019-02-14,2019-02-15,2019-02-16,2019-02-17
3,2019-02-18,2019-02-19,2019-02-20,2019-02-21,2019-02-22,2019-02-23,2019-02-24
4,2019-02-25,2019-02-26,2019-02-27,2019-02-28,2019-03-01,2019-03-02,2019-03-03

In [ ]:
class Schedule:
    def __init__(self, start_day, term_length):

In [56]:
class Lecturer:
    def __init__(self, name, available):
        self.name = name,
        self.available = available
    def end(self, duration):
        return self.available + duration

In [77]:
time.strptime('19:00', '%H:%M')# + timedelta(minutes = 40)

time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=19, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)

In [82]:
datetime.datetime.now()

datetime.datetime(2019, 2, 25, 16, 26, 49, 384680)